node_modules
**/node_modules
.git
**/.git
.env
.env.*
*.md
docs
.gitignore
.gitattributes
.gitleaks.toml
.husky
eslint.config.mjs
jest.config.cjs
coverage
tools
scripts
2026-bus-tracking-api
supabase/.temp
supabase/functions/node_modules
__pycache__
*.pyc
.DS_Store
Thumbs.db
